{% extends 'store/index.html' %}
{% block content %}
        <div class="card-group">
          <div class="card">
            <a href="./product_detail/product_detail.html">
              <img
              src="https://www.pngmart.com/files/22/Land-Rover-Range-Rover-PNG-Clipart.png"
              class="card-img-top"
              alt="Range Rover"
            />
            </a>
            
            <div class="card-body">
              <h5 class="card-title">{{ product_title }}</h5>
              <p class="card-text">
                This is a wider card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
              <ul class="category_list">
                <li>
                  <a href="">Sport</a>
                </li>
                <li>
                  <a href="">Crossower</a>
                </li>
                
              </ul>
            </div>
          </div>
          <div class="card">
            <a href="">
              <img
              src="https://www.pngmart.com/files/22/Land-Rover-Range-Rover-PNG-Clipart.png"
              class="card-img-top"
              alt="Range Rover"
            />
            </a>
            
            <div class="card-body">
              <h5 class="card-title">Range Rover</h5>
              <p class="card-text">
                This is a wider card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
              <ul class="category_list">
                <li>
                  <a href="">Sport</a>
                </li>
                <li>
                  <a href="">Crossower</a>
                </li>
                
              </ul>
            </div>
          </div>
          <div class="card">
            <a href="">
              <img
              src="https://www.pngmart.com/files/22/Land-Rover-Range-Rover-PNG-Clipart.png"
              class="card-img-top"
              alt="Range Rover"
            />
            </a>
            
            <div class="card-body">
              <h5 class="card-title">Range Rover</h5>
              <p class="card-text">
                This is a wider card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
              <ul class="category_list">
                <li>
                  <a href="">Sport</a>
                </li>
                <li>
                  <a href="">Crossower</a>
                </li>
                
              </ul>
            </div>
          </div>
        </div>
{% endblock content %}
  