.logo {
  width: 40px;
  border-radius: 100%;
}

.category_list {
  display: flex;
  gap: 7px;
  list-style: none;
  padding: 0;
}

.category_list a {
  text-decoration: none;
  color: darkcyan;
}

.footer {
  min-height: 80px;
}

.column-x{
  column-count: 3;
}